<%- include("components/header") -%>
<%- include("components/nav") -%>


<div class="container mt-5 vh-100">
    <div class="row justify-content-center">
        <div class="mt-5 col-md-6">
            <div class="card px-5 py-5" id="form1">
            
                <h1 class="text-center mb-5">Iniciar Sesion</h1>

                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Correo</span>
                    <input type="email" class="form-control" placeholder="email@email.com">
                </div>
                    <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    <input type="password" class="form-control" placeholder="*********">
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary mt-4" type="button">Acceder</button>
                  </div>

            </div>
        </div>
    </div>
</div>


<%- include("components/footer") -%>