<%- include("components/header") -%>
<%- include("components/nav") -%>


<div class="container mt-5 vh-100">
    <div class="row justify-content-center">
        <div class="mt-5 col-md-6">
            <div class="card px-5 py-5" id="form1">
            
                <h1 class="text-center mb-5">Crear Cuenta</h1>

                <div class="row">
                    <div class="col-6">
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                            <input type="text" class="form-control" placeholder="Alfonso">
                        </div>
                       
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                            <input type="password" class="form-control" placeholder="*********">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                            <input type="text" class="form-control" placeholder="apellido">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                            <input type="password" class="form-control" placeholder="*********">
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <label for="">Ocupacion Actual </label>
                        <select name="" id="" class="w-100">
                            <option value="1">Profesor</option>
                            <option value="2">Alumno</option>
                            <option value="3">Desarrollador</option>
                            <option value="2">Ing. Software</option>
                        </select>
                        
                    </div>
                </div>


                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary mt-4" type="button">Registrarme</button>
                  </div>

            </div>
        </div>
    </div>
</div>


<%- include("components/footer") -%>