<%- include("components/header") -%>
<%- include("components/nav") -%>

<div class="container">


    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">Quienes Somos?</h1>
                <p class="col-lg-8 mx-auto lead">
                    Somos una empresa con princios de informar sobre tecnologia, configuracion y sobre muchos
                    temas para todos aquellos que necesitan.
                </p>
            </div>
        </div>
    </div>


    <div class="row mt-5">

        <div class="col-6">
            <div class="card mb-3 p-2">
                <h2 class="card-title">
                    Mision:
                </h2>
                <div class="card-body">
                    Compartir informacion con todos aquellos interesados en el tema tecnologico.
                </div>
            </div>
            <div class="card mt-3 p-2">
                <h2 class="card-title">
                    Vision:
                </h2>
                <div class="card-body">
                    Compartir informacion con todos aquellos interesados en el tema tecnologico.
                </div>
            </div>
        </div>

        <div class="col-6 card p-2">
            <video width="555" height="180" controls>
                <source src="/pexels_videos_1851768.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center" data-toggle="modal" data-target="#lightbox">
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/imagenes/laravel.png" data-target="#indicators"
                        data-slide-to="0" alt="" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/imagenes/c.png" data-target="#indicators"
                        data-slide-to="1" alt="" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/imagenes/django.png" data-target="#indicators"
                        data-slide-to="2" alt="" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/imagenes/sqlserver.png" data-target="#indicators"
                        data-slide-to="3" alt="" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/imagenes/php.png" data-target="#indicators"
                        data-slide-to="3" alt="" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/imagenes/springboot.png" data-target="#indicators"
                        data-slide-to="4" alt="" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/imagenes/bootstrap.png" data-target="#indicators"
                        data-slide-to="4" alt="" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="/imagenes/tailwind.png" data-target="#tailwind"
                        data-slide-to="4" alt="" />
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="lightbox" role="dialog" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close text-right p-2" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div id="indicators" class="carousel slide" data-interval="false">
                            <ol class="carousel-indicators">
                                <li data-target="#indicators" data-slide-to="0" class="active"></li>
                                <li data-target="#indicators" data-slide-to="1"></li>
                                <li data-target="#indicators" data-slide-to="2"></li>
                                <li data-target="#indicators" data-slide-to="3"></li>
                                <li data-target="#indicators" data-slide-to="4"></li>
                                <li data-target="#indicators" data-slide-to="5"></li>
                                <li data-target="#indicators" data-slide-to="6"></li>
                                <li data-target="#indicators" data-slide-to="7"></li>
                                <li data-target="#tailwind" data-slide-to="8"></li>
                            </ol>
                            <div class="carousel-inner">

                                <div class="carousel-item active">

                                    <img class="d-block w-100" src="/imagenes/laravel.png"
                                        alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/imagenes/c.png"
                                        alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/imagenes/django.png"
                                        alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/imagenes/sqlserver.png"
                                        alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/imagenes/php.png"
                                        alt="Fifth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/imagenes/springboot.png"
                                        alt="Sixth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/imagenes/bootstrap.png"
                                        alt="Sixth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/imagenes/tailwind.png"
                                        alt="Sixth slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="my-5">
        <h1 class="text-body-emphasis text-center mb-5">¿Donde encontrarnos?</h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6457.638261674094!2d-77.03602296606012!3d-12.054492682505511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8c85059ab53%3A0x7f4cd14fcd293639!2sJr.%20Caman%C3%A1%20780%2C%20Lima%2015001!5e0!3m2!1ses-419!2spe!4v1702227254369!5m2!1ses-419!2spe"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js'></script>


<%- include("components/footer") -%>